<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous">

    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <style>
        *{font-family: "Palatino Linotype"}
        input {
            width: 100%;
            border-radius: 3px;
        }
    </style>
    <title>BossTran</title>
</head>
<body>
<div class="row mb-3 mt-3">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="row justify-content-center align-items-lg-center text-center" id="form">
            <form th:action="@{/edit}" th:object="${blog}"
                  method="POST" novalidate="novalidate">
                <table class="table table-hover table-dark text-success">
                    <tr>
                        <td colspan="2"><h3 class="text-center">Edit Blog</h3></td>
                    </tr>
                    <tr hidden>
                        <td><input type="text" th:field="*{id}"/></td>
                    </tr>
                    <tr>
                        <td><label for="blogName">Blog Name</label></td>
                        <td><input id="blogName" type="text" th:field="*{blogName}"/></td>
                    </tr>
                    <tr>
                        <td><label for="content">Content</label></td>
                        <td><input id="content" type="text" th:field="*{content}"/></td>
                    </tr>
                    <tr>
                        <td><label for="author">Author</label></td>
                        <td><input id="author" type="text" th:field="*{author}"/></td>
                    </tr>
                    <tr>
                        <td><label for="dateWriting">DateWriting</label></td>
                        <td><input id="dateWriting" type="date" th:field="*{dateWriting}"/></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-primary" type="submit">Edit Blog</button>
                            <a th:href="@{/}">
                                <button class="btn btn-outline-primary">Back to Blog list</button>
                            </a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>