<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous">

    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <style>
        * {
            font-family: "Palatino Linotype"
        }

        input {
            width: 100%;
            border-radius: 3px;
        }

        span {
            font-size: 30px;
            color: red
        }
    </style>
    <title>BossTran</title>
</head>
<body>
<div class="row mt-3 mb-2">
    <div class="col-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create">Create new Blog
        </button>
    </div>
    <div class="col-6 text-center"><span><b>Blog List</b></span>
        <span th:text="${message}"></span></div>
    <div class="col-4">
        <form class="d-flex form-check-inline my-2 my-lg-0">
            <input class="form-control me-2" type="search" name="search" th:value="${search}"
                   placeholder="Blog Name & Author"
                   aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
</div>
<div class="row mt-2">
    <table border="1" class="table table-hover table-primary text-center">
        <tr>
            <th>STT</th>
            <th>Blog Name</th>
            <th>Author</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
        </tr>
        <th:block th:each="blog,stt : ${blogList}">
            <tr>
                <td th:text="${stt.count}"></td>
                <td th:text="${blog.blogName}"></td>
                <td th:text="${blog.author}"></td>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit"
                            th:attr="onclick=|editModal('${blog.id}','${blog.blogName}','${blog.content}','${blog.author}','${blog.dateWriting}');|">
                    Edit
                </button></td>
                <td>
                    <button type="button" class="btn btn-danger"
                            th:attr="onclick=|showAlertDelete('${blog.id}','${blog.blogName}');|" data-bs-toggle="modal"
                            data-bs-target="#delete">Delete
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailModal"
                            th:attr="onclick=|viewModal('${blog.id}','${blog.blogName}','${blog.content}','${blog.author}','${blog.dateWriting}');|">
                        View
                    </button>
                </td>
            </tr>
        </th:block>
    </table>
</div>

</body>
<!--MODAL EDIT-->
<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row justify-content-center align-items-lg-center text-center">
                <form th:action="@{/edit}"
                      method="post" novalidate="novalidate">
                    <table class="table table-hover table-success text-success">
                        <tr>
                            <td colspan="2"><h3 class="text-center">Edit Blog</h3></td>
                        </tr>
                        <tr hidden>
                            <td><input type="text" id="idEdit" name="id"/></td>
                        </tr>
                        <tr>
                            <td><label for="blogNameEdit">Blog Name</label></td>
                            <td><input id="blogNameEdit" type="text" name="blogName"/></td>
                        </tr>
                        <tr>
                            <td><label for="contentEdit">Content</label></td>
                            <td><input id="contentEdit" type="text" name="content"/></td>
                        </tr>
                        <tr>
                            <td><label for="authorEdit">Author</label></td>
                            <td><input id="authorEdit" type="text" name="author"/></td>
                        </tr>
                        <tr>
                            <td><label for="dateWritingEdit">DateWriting</label></td>
                            <td><input id="dateWritingEdit" type="date" name="dateWriting"/></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button class="btn btn-primary" type="submit">Edit Blog</button>
                                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<!--=======ModalView=========-->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-lg table-primary" style="text-align: center">Information Detail</h1>
            </div>
            <div class="modal-body text-lg-center text-bg-danger">
                <label for="idModal">ID: </label>
                <input type="text" readonly id="idModal"><br>
                <label for="blogNameView">Blog Name: </label>
                <input type="text" readonly id="blogNameView"><br>
                <label for="contentView">Content: </label>
                <input type="text" readonly id="contentView"><br>
                <label for="authorView">Author: </label>
                <input type="text" readonly id="authorView"><br>
                <label for="dateWritingView">Date Write: </label>
                <input type="date" readonly id="dateWritingView">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--MODAL DELETE-->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/delete}">
                <div class="modal-body bg-danger text-center text-light">
                    <h3>Are you sure you want to delete?</h3>
                    <h2 id="deleteAlert"></h2>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" th:id="deleteConfirm" th:name="deleteConfirm">
                        Acept
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--MODAL CREATE-->
<div class="modal fade" id="create" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row justify-content-center align-items-lg-center text-center" id="form">
                <form th:action="@{/create}"
                      method="post" novalidate="novalidate">
                    <table class="table table-hover table-success text-success">
                        <tr>
                            <td colspan="2"><h3 class="text-center">Create Blog</h3></td>
                        </tr>
                        <tr hidden>
                            <td><input type="text" name="id"/></td>
                        </tr>
                        <tr>
                            <td><label for="blogName">Blog Name</label></td>
                            <td><input id="blogName" type="text" name="blogName"/></td>
                        </tr>
                        <tr>
                            <td><label for="content">Content</label></td>
                            <td><input id="content" type="text" name="content"/></td>
                        </tr>
                        <tr>
                            <td><label for="author">Author</label></td>
                            <td><input id="author" type="text" name="author"/></td>
                        </tr>
                        <tr>
                            <td><label for="dateWriting">DateWriting</label></td>
                            <td><input id="dateWriting" type="date" name="dateWriting"/></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button class="btn btn-primary" type="submit">Create New Blog</button>
                                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<!--=========FUNCTION===========-->
<script>
    /*====VIEW====*/
    function viewModal(id, blogName, content, author, dateWriting) {
        document.getElementById("idView").value = id;
        document.getElementById("blogNameView").value = blogName;
        document.getElementById("contentView").value = content;
        document.getElementById("authorView").value = author;
        document.getElementById("dateWritingView").value = dateWriting;
    }
    /*====EDIT===*/
    function editModal(id, blogName, content, author, dateWriting) {
        document.getElementById("idEdit").value = id;
        document.getElementById("blogNameEdit").value = blogName;
        document.getElementById("contentEdit").value = content;
        document.getElementById("authorEdit").value = author;
        document.getElementById("dateWritingEdit").value = dateWriting;
    }

    /*====DELETE====*/
    function showAlertDelete(id, blogName) {
        document.getElementById("deleteAlert").innerText = blogName;
        document.getElementById("deleteConfirm").value = id;
    }
</script>
</html>